@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;0,900;1,300;1,400&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    scroll-behavior: 10rem;
    transition: 0.6s ease-in-out;
}

@media screen and (max-width: 480px) {
    .navBar {
        padding: 10px;
    }

    .navbar-brand {
        font-size: 12px !important;
    }

    .btnCustom {
        width: 120px;
        /* Ukuran tombol yang lebih kecil */
    }

    .overlay {
        margin-top: 3vh;
        margin-left: 2vw;
        margin-right: 2vw;
    }

    .teksOverlay {
        margin-top: 5vh;
        margin-left: 3vw;
        margin-right: 3vw;
        width: auto;
    }
}

body {
    background-color: rgb(255, 255, 255) !important;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.609);
    backdrop-filter: blur(50px);
    /* box-shadow: rgba(111, 28, 167, 0.519) 0px 13px 80px -5px, rgba(175, 12, 12, 0.3) 0px 8px 16px -8px; */

}

.navbar-brand {
    /* margin-left: 10vh!important;
    margin-right: 10vh!important; */
    color: rgb(0, 0, 0) !important;
    font-size: 15px !important;
}

.banner {
    /* display: flex;
    justify-content: flex; */
    background-color: rgb(255, 255, 255)8, 54, 54);
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.btnCustom {
    margin-top: 10px;
    border-radius: 20px !important;
    align-items: center;
    text-align: center;
    width: 20vh;
    height: 40px;
}

.gradient-text {
    color: white;
    border-radius: 20px;
    background: -webkit-linear-gradient(left, rgb(67, 67, 67) 0%, rgb(58, 20, 97) 100%);

}

.mergePosition {
    padding-left: 10vh !important;
    padding-right: 10vh !important;
}

.overlay {
    position: absolute;
    border-radius: 20px;
    margin-top: 10vh;
    margin-left: 2vw;
    margin-right: 2vw;
    width: 96vw;
    height: 86vh;
    max-width: 96%;
    max-height: 90%;
    background-color: rgba(0, 0, 0, 0.715);
    backdrop-filter: blur(20px);
}

.teksOverlay {
    justify-content: flex;
    align-items: start;
    text-align: left;
    position: absolute;
    margin-top: 22vh;
    margin-left: 5vw;
    margin-right: 200vw;
    width: 40vw;
    height: 30vh;
    max-width: 96%;
    max-height: 90%;
    color: rgb(0, 0, 0);
    /* background-color: #ffffff1e; */
}

#carouselContainer {
    padding-top: 10vh;
    padding-left: 50vh;
    margin-left: 50vh;
    width: 10100% 50px;
    height: 200vh;
    border-color: rgba(0, 0, 0, 0);
}

.w-100 {
    width: 100% !important;
    height: 85vh !important;
}

#carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.carousel-inner {
    height: fit-content;
    border-top-left-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 20px;
}

.carousel-indicators button {
    height: 10px !important;
    width: 10px !important;
    margin: 0 10px !important;
    border-radius: 100%;
    background-color: #ffffff8d !important;
}

.display-6 {
    font-weight: 400 !important;
}

.display-1 {
    font-weight: 500 !important;
}

/* Tata letak saat layar berukuran lebih kecil */
@media screen and (max-width: 768px) {
    .navBar {
        padding: 10px 20px;
        /* Padding yang lebih kecil */
    }

    .navbar-brand {
        font-size: 14px !important;
        /* Ukuran font yang lebih kecil */
    }

    .overlay {
        margin-top: 5vh;
        margin-left: 2vw;
        margin-right: 2vw;
    }

    .teksOverlay {
        margin-top: 10vh;
        margin-left: 5vw;
        margin-right: 10vw;
        width: auto;
    }
}

.cardSection {
    background-color: rgb(0, 0, 0);
    width: 100vw;
    height: 100vh;
    position: relative;
}

.card-outer {
    height: fit-content;
    padding: 20px 20px 20px 20px;
    width: 100vw;
    height: 20vh;
    max-width: 96%;
    max-height: 90%;
}

.img-inner {
    position: relative;
    height: fit-content;
    object-fit: cover;
    background-color: rgba(0, 0, 0, 0.421) !important;
    border-radius: 20px !important;
}

#imageCategry {
    margin-left: 20px;
    margin-top: 8vh;
    filter: brightness(50%);
}

.w-50 {
    width: 100% !important;
    height: 85vh !important;
}

.overlay-img {
    position: absolute;
    border-radius: 20px;
    margin-top: 10vh;
    margin-left: 2vw;
    margin-right: 2vw;
    width: 100vw;
    height: 20vh;
    max-width: 96%;
    background-color: rgba(255, 255, 255, 0.715);
    backdrop-filter: blur(20px);
}

#teksOverlay {
    justify-content: flex;
    align-items: flex-start;
    text-align: right;
    margin-top: 32vh;
    margin-left: 17vh;
    width: 70vh;
    color: white;
}

.tiles {
    margin-top: 75vh;
    margin-bottom: 6vh;
    /* background-color: black; */
}

.tileContainer {
    margin-left: 20vh;
    margin-right: 20vh;
    display: flex;
    justify-content: center;
    align-items: center!important;
justify-content: space-between;

}

.oneTiles {
    border: 1px grey !important;
    margin-bottom: 3vh;
    background-color: rgba(0, 0, 0, 0.636) !important;
    color: rgb(0, 0, 0);
    width: 25vh;
    height: 15vh;
    border-radius: 20px;
    /* box-shadow: rgba(155, 99, 99, 0.467) 0px 10px 36px 0px, rgba(158, 20, 20, 0.048) 0px 0px 0px 1px; */
}

.customBtn {
    color: rgb(255, 255, 255) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: rgba(195, 195, 195, 0.131) !important;
    border-radius: 20px !important;

}

.oneTilesimg {
    filter: contrast(-100), impor !important;
    ;
    color: black !important;
    max-width: 30px !important;
    vertical-align: middle;
    display: inline-block;
    max-width: 100%;
    height: auto;

}

.card-article {
    padding-left: 20vh;
    padding-top: 20vh;
}

.artContainer {
    display: flex;
    justify-content: space-around;
    padding-top: 20vh;
    padding-bottom: 10vh;
}

.phoneImg {
    width: 200px;
}

.teksPosition {
    padding-left: 10vh;
}

.overflowCard {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.outerCardTop {
    display: flex;
    justify-content: space-around;
}

.cardTop {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10vh;
}

.cardBody {
    background-color: rgb(231, 229, 229);
    border-radius: 20px;
    color: rgb(0, 0, 0) !important;
    margin-left: 10px;
    margin-right: 10px;
}

.tableContainer {
    margin-left: 20vh;
    margin-right: 20vh;
    margin-bottom: 50vh;
    align-items: center;
    justify-content: center;
}

.tableInner {
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0);
    margin: 20px 20px 20px 20px;
    display: flex;
    justify-content: center;
    padding-left: 3vh;
    padding-right: 3vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
    max-width: max-content;
}

.commentSections {
    margin-left: 24vh;
    padding-right: 24vh;
    padding-bottom: 20vh;
    background-color: rgba(245, 245, 220, 0);
}

.cardBodyComment {
    background-color: rgba(250, 235, 215, 0);
    border-radius: 17px;
    color: rgb(0, 0, 0) !important;
    margin-left: 10px;
    margin-right: 10px;
    outline: 1px solid rgba(0, 0, 0, 0.159);
}

.cardBodyLike {
    /* background-color: rgb(231, 229, 229); */
    justify-content: space-between;
    align-items: end;
    border-radius: 20px;
    color: rgb(0, 0, 0) !important;
    margin-left: 10px;
    margin-right: 10px;
}

.imageContainer {
    position: relative;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    padding-top: 20vh;
    padding-bottom: 10vh;
}

.imageCategory {
    border-radius: 20px;
    filter: brightness(50%);
    height: 30vh !important;
    width: 800px;
    max-width: 100% !important;
    object-fit: cover;
}

.displayCustom {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    margin: 0;
    padding: 10px;
    border-radius: 20px;
}

.imageOuter {
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 270px;
    margin-bottom: 20vh !important;

}

.customtext {
    margin-top: 4vh;
    color: rgb(255, 255, 255);
}

.cusRow {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.gradient-custom-2 {
    background-size: cover;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-image: url(https://images.unsplash.com/photo-1611648694964-a4cbd6ab1c70?q=80&w=2864&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.rounded-3 {
    border-radius: 20px !important;
}

.gradient-custom-3 {
    border: 1px black !important;
    background-size: cover;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-image: url(https://images.unsplash.com/photo-1666238851883-1cdc90b547e4?q=80&w=2700&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.customForm {
    border-radius: 20px;
    border-color: rgb(0, 0, 0);
}

.topSpace {
    margin-top: 10vh !important;
}

.searchContainer {
    justify-content: space-around;

    align-items: center !important;
    text-align: center;
    /* padding: 10vh 10vh 10vh 10vh; */
    margin: 20vh 20vh 20vh 20vh;
}

.searchValue {
    margin-bottom: 10vh;
}

.customForm2 {
    border-radius: 40px !important;
    border-color: rgb(0, 0, 0);
}

.btnCustom2 {
    padding-left: 10px !important;
    border-radius: 20px !important;
    /* align-items: center;
    text-align: center; */
    width: 20vh;
    height: 40px;
}

.searchForm {
    display: flex;
}

.searchResults {
    width: 1000vh;
    justify-content: space-between;
    max-width: fit-content;
}
